main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 100px;
  transition: 0.5s padding;
  .moon {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 20;
    right: 0;
    background-image: url("https://cdn.mos.cms.futurecdn.net/snbrHBRigvvzjxNGuUtcck.jpg");
    background-size: cover;
  }
}
